
@font-face {
    font-family: 'Fuente2';
    src: url('Miguel\ De\ Northern.ttf');
}
body{
   
    margin:0;    
   
}
header{
    
    background: linear-gradient(to bottom, #2F4F4F, #FFFFFF); 
    
}
header h4{

    font-family:'Fuente2';
    color:white;
    
}
section{
    box-sizing: border-box;
    padding-bottom:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    gap: 25px;
    width:1000px;
    border: solid;
    margin: 0 auto;
    border-radius: 10px; 
    background-color: #f5f3e9;
    border: 2px solid #a67b5b;
    height: 750px;

}
.video iframe{
   
    max-width: 800px;
    border-radius: 10px;
}
.descrip{
    border:1px solid;
    color: #5b4636;
    font-style: italic;
    border-radius: 10px;
    margin: 15px;
    background-color: #eae0c8;
    margin-top: 1px;
    padding: 25px;
    /*Los atributos del texto son:line-height que es la separacion vertical
    que tendran los parrafos,text-align la alineacion del texto en la pantalla,text-decoration 
    una serie de decoración que se le puede attribuir al texto y el text-indent que 
    indica la sangría que va a tener el texto */
    line-height: 19px;
    text-align: center;
    text-decoration:dotted;
    text-indent: 20px;

}

section h2{
    color: #5b4636;
    margin-top: 100px;
    font-family:'Fuente2' ;
}
h4{/*Cuando se hayan visitado vuelven a su color y estilo predeterminado */
   
  font-size: 30px;
  border: solid;
  border-color: white;
  background-color: black;
  padding: 9px;
  
  
}
h4:hover{
    transition: 0.5s ease;
    transform:translateY(8px);

}
a{
    text-decoration: none;
    color: inherit;
}

h1,h3,p{/*En este apartado se ve el atributo font-family que nos permite que
    el codigo tenga la fuente que queramos*/
    font-family:'Fuente2';
  text-align: center;
  margin: auto;
  
  
}

h1{/*Con el font-size le indicamos a las etiquetas que tamaño tendrá el texto*/
    font-size: 60px;

}
h3{
    font-size: 40px;
}

footer h4{
    font-family: 'Courier New', Courier, monospace;
}
footer{
   margin-top: 100px;
    font-size:30px;
    background: linear-gradient(to top, #2F4F4F, #FFFFFF);
     
}



#linea{
width: 250px;
}

#logoAbajo{

 
}


.logo:hover{
    transform: translateY(10px) scale(0.9); 
    transition: transform 0.3s ease;

}
a{
    
    text-decoration: none;
    color: inherit;
}
.palabras{
    padding-bottom: 100px;
}
.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
   margin-bottom: -50px;
   background: linear-gradient(90deg, #e9dcc9, #a3876a);

    border-radius: 15px;
    padding: 25px;
    color:  #5b4636;/*Aqui le indicamos 
        con font-family el tipo de fuente que vamos a utilizar,Font size el
         tamaño de la fuente,font weight que establece el peso que va a tener
         la fuente y font style con el que podemos estilizar el tipo de fuente
         que tenemos y el tributo font que recoge todas las caracteristicas de 
         fuente en un atributo
    */
    font-weight: bold;
    font-family: 'Playfair Display';
    font-style: normal;
    max-width: 800px;
    width: 90%;
    letter-spacing: 1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    
}
.title-section:hover{
    transform: scale(1.05);
   

}
.cards{
    
    display: flex;
    justify-content: center;

    align-items: center;
    
    margin-top: 100px;
    gap:50px;
    text-align: center; 
    flex-wrap: wrap;  
    
}
.card1{
    width: 400px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    padding-bottom: 50px;
    background-color: #f5f3e9;
    
}
.cards h5{
    font-size: 20px;
    margin-top: 25px;
    font-family: 'Lato';
    font-weight: bold;
}
.cards p{
    text-align: left;
    line-height: 1.5;
    margin-left: 10px;
    font-family: 'Nunito';
}
.cards a{
    background-color: #5b4636;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 50px;
    transition: all 0.3s ease; 
}
.cards a:hover{
    transform: scale(1.2);
    background-color: #5b4636;
    color: white;

}
.card1:hover{
    transform: scale(1.1);
}
.card2:hover{
    transform: scale(1.1);
}
.card3:hover{
    transform: scale(1.1);
}

.card2{
    width: 400px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 8px;  
    padding-bottom: 50px;
    transition: all 0.3s ease;
    background-color: #f5f3e9;
}

.card3{
    width: 400px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 8px;
    padding-bottom: 50px;
    transition: all 0.3s ease;
    background-color: #f5f3e9;
}


.cards img{
    width: 100%;
}

img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}