@font-face {
    font-family: 'Fuente';
    src: url('Miguel De Northern.ttf');
}
body{/* Uso del background para añadir color a l fondo, en este caso es un
    color degradado,que incluye una imagen haciendo que esta tenga un grado de 
    opacidad y el uso del float haciendo que la imagen  quede a la izquirda*/
    background: #f1f1f1;
    
    background: linear-gradient(rgba(116, 100, 100, 0.5), rgba(109, 93, 93, 0.5)),
    url('fondo.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin:0; 
    color: white;       
    
}
section{
    border: solid;
    border-radius:20px;
    padding: 25px;
    
    width: 100%;
}
p{
    padding-top: 20px;
    text-align: center;
    color: #5b4636;
}
span{
    
    font-weight: bold;
}
h2{
    color: #5b4636;
    font-family: 'Playfair Display';
    font-weight: bold;
}
label{
    font-size: 14px;
    color: #5b4636;
    font-weight: bold;
}
input,select{
    border-color: #d6bfa7 !important;
    border-width: 2px !important;
    color: #5b4636;

}
select,li{
    font-family: 'Fuente';
    

    
}
.nav{

    margin-right: 140px;
}
a{
    text-decoration: none;
    color: inherit;
}
li{/*Una lista ul, en el sistema de navegacion del header*/
   
    border: solid;
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
    list-style: none;
}

li:hover{/*Al pasar el raton sobre los enlaces estos realizan una animacion 
    ademas cambiar a un color anaranjado
    */
    transition: 0.5s ease;
    transform:translateY(8px);
    color: #F39C12;
}

.form{
  
    background: rgba(255, 255, 255, 0.9);
    
    margin-right: 50px;
    
}

.foto{
    height: 490px;
    width: 450px;
    margin-left: 60px;
   
}
button{
    background-color: #5b4636 !important;
    color: white !important;
}