@font-face {
    font-family: 'Fuente';
    src: url('Miguel De Northern.ttf');
}
body{

    background-image: url('morocco.png');
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
    
}
section{
    border: solid;
    border-radius:20px;
    padding: 25px;
    
}

label,select,h4,h2{
    font-family: 'Fuente';
    
}
.nav{

    margin-right: 140px;
}
a{
    text-decoration: none;
    color: inherit;
}
h4{
   
    border: solid;
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
}

h4:hover{
    transition: 0.5s ease;
    transform:translateY(8px);
    color: #F39C12;
}

.form{
    width: 450px;
    margin-right: 200px;
}

.foto{
    margin-left: 250px;
}
.navbar{
    background-image: url('rojo.jpg');
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}