@font-face {
    font-family: 'Fuente';
    src: url('Miguel De Northern.ttf');
}
body{
    background: #f1f1f1;
    background: linear-gradient(135deg, #f7e8c0, #d6bfa7);
    

margin:0;  

    color: white;
           
    
}
section{
    border: solid;
    border-radius:20px;
    padding: 25px;
    
    
}
p{
    padding-top: 20px;
    text-align: center;
    color: #5b4636;
}
span{
    
    font-weight: bold;
}
h2{
    color: #5b4636;
    font-family: 'Playfair Display';
    font-weight: bold;
}
label{
    font-size: 14px;
    color: #5b4636;
    font-weight: bold;
}
input,select{
    border-color: #d6bfa7 !important;
    border-width: 2px !important;
    color: #5b4636;

}
select,h4{
    font-family: 'Fuente';
    

    
}
.nav{

    margin-right: 140px;
}
a{
    text-decoration: none;
    color: inherit;
}
h4{
   
    border: solid;
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
}

h4:hover{
    transition: 0.5s ease;
    transform:translateY(8px);
    color: #F39C12;
}

.form{
  
    background: rgba(255, 255, 255, 0.9);
    
    margin-right: 50px;
    
}

.foto{
    height: 490px;
    width: 450px;
    margin-left: 60px;
   
}
button{
    background-color: #5b4636 !important;
    color: white !important;
}