body{
    
    display:grid;
    justify-content: center;
    background: linear-gradient( 68.6deg,  rgba(79,183,131,1) 14.4%, rgba(254,235,151,1) 92.7% );
    background: cover;
    
    background-repeat: repeat;
    background-attachment: fixed;
}
label{
    margin-left: 90px;
}   
select{
    margin-left: 20px;
    margin-top: 20px;
}
button{
    margin-left: 220px;
    margin-top: 15px;
    margin-bottom: 50px;
   width: 100px;
   height: 40px;
   border-radius: 15px;
   font-size: 15px;
   background:  linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(46, 204, 113, 1) 100%);

}
h1{
    color: #000080; /* Azul marino */
    
   border: solid;
   padding: 5px;
   
}
td{

text-align: center;
 
}
label{
  font-size: 25px;
    color: #000080;
   margin-left: 0;
}
select{
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
   margin-left: 10px;
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(46, 204, 113, 1) 100%); 
}
article{
    display: flex;
    gap:5px;
    
    justify-content: center;
    
}
p{
    border: solid;
    padding: 15px;
    background-color: black;
    color: white;
}
h2{
    margin-top: 50px;
    text-align: center;
    color: #000080;
    border: solid;
   padding: 4px;
}
